.wrapper {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.btnDrop {
  width:500px;
  height:70px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0;
}

.onDragEnter {
  background-color: #cffd64;
  border:1px solid #677e32;
}

.onDragLeave {
  background-color: #ccc;
}


table {
  border-collapse: collapse;
}

thead > tr > td {
  font-weight: bold;
}

td {
  padding:10px;
  border: 1px solid black;
}

.redArea {
  background-color: #ff3e3e69;
}